.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #e6e6e6;
  color: gray;
}

.footer .footer-left {
  text-align: left;
}

.footer .footer-center {
  text-align: center;
}

.footer .footer-right {
  text-align: right;
}

.footer .clear {
  cursor: pointer;
}

.footer .clear:hover {
  text-decoration: underline;
}
